body {
    min-width: 800px;
    background-color: rgba(238, 233, 233, 0.33);
}

.mapa {
    display: grid;
    grid-template-columns: repeat(21, 35px);
    grid-template-rows: repeat(21, 35px);
    border: 1px solid rgb(87, 85, 85);
    background-color: rgba(238, 233, 233, 0.33);
    padding: 0.4em;
    box-shadow: 2px 2px 5px rgb(145, 144, 144);
}

.padre {
    display: flex;
    justify-content: center;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-family: "VT323";
    font-size: 1.5em;
    border: 1px solid #808080;
}

.titulo {
    text-transform: uppercase;
    font-family: Calisto MT, serif;
    color: rgb(44, 43, 43);
    font-size: 30px;
    text-align: center;
    word-spacing: 5px;
    letter-spacing: 5px;
}

.subtitulo {
    text-transform: capitalize;
    font-family: Lucida Bright, Georgia, serif;
    font-size: 14px;
    color: rgb(77, 74, 74);
    text-align: center;
    margin-top: 2em;
}

.borde {
    background: rgba(142, 142, 16, 0.551);
    border: 0px solid black;
}

.fuera {
    border: 0px solid black;
}

.formulario {
    display: flex;
    justify-content: center;
    padding: 1em;
    background-color: rgba(238, 233, 233, 0.33);
    border: 1px solid black;
    width: 500px;
    box-shadow: 2px 2px 5px rgb(145, 144, 144);
}

.espacio-formulario {
    margin-left: 1em;
    margin-right: 1em;
}

.boton:hover {
    cursor: pointer;
    background-color: white;
}

.boton {
    background-color: rgb(213, 245, 126);
    border: 1px solid rgb(213, 245, 126);
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 0.25em;
    width: 15%;
}

.city {
    width: 40%;
}

.zona:hover {
    cursor: pointer;
}

.popup-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.popup {
    font-family: Calisto MT, serif;
    text-align: center;
    width: 100%;
    max-width: 300px;
    background: white;
    margin: 10% auto;
    padding: 20px;
    position: relative;
    padding-left: 3em;
    padding-right: 3em;
    border-radius: 1em;
}

.popup-close {
    font-family: monospace;
    position: absolute;
    color: red;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.2em;
}

.casilla {
    background-color: rgba(230, 230, 37, 0.522);
}

.atraccion {
    background-color: rgba(230, 111, 37, 0.522);
}

.usuario {
    background-color: rgba(37, 230, 66, 0.522);
}